/* Tag Selectors */
body {
  text-align: center;
}

.container-fluid {
  padding: 7% 15%;
}

#title {
  background-color: #1E5128;
}

.title-text {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

h1 {
  font-size: 3.5rem;
    color: white;
}

/* Features */
.features-img {
  margin: 10px auto 10px;
  width: 20%;
}
